body {
  background-color: #eee;
  color: #444;
}

.container {
  margin: 0 auto;
  text-align: left;
  width: 96%;
}

a, a:link, a:visited {
  color: #444;
  text-decoration: underline;
}

a:hover {
  color: #666;
}

/* header */
header {
  padding: 1em 0;
  color: #444;
}
header h1, header h2 {
  color: #444;
  margin: 10px 0;
}
header h1 a, header h1 a:link, header h1 a:visited,
header h2 a, header h2 a:link, header h2 a:visited {
  color: #444;
  text-decoration: none;
}
header h1 a:hover, header h2 a:hover {
  color: #444;
  text-decoration: none;
}

#menu ul {
  list-style-type: none;
  margin: 0 0 10px;
  padding: 0;
}
#menu ul li {
  display: inline-block;
}
#menu ul li a, #menu ul li a:link, #menu ul li a:visited {
  color: #282B30;
  border-bottom: 1px solid #282B30;
  padding-bottom: 2px;
  margin-left: 5px;
  text-decoration: none;
}
#menu ul li a:hover {
  color: #444;
  border-color: #444;
  text-decoration: none;
}

/* gallery */
#albums ul {
  list-style-type: none;
  padding-left: 0;
}
#albums ul li {
  display: inline-block;
  margin: 0 40px 40px 0;
  text-align: center;
  vertical-align: top;
}
#albums ul li a img {
  opacity: 1;
/*  -moz-box-shadow: 0 1px 6px #cccccc;
  -webkit-box-shadow: 0 1px 6px #cccccc;
  -o-box-shadow: 0 1px 6px #cccccc;
  box-shadow: 0 1px 6px #cccccc;
*/
  transition: opacity .2s ease-in-out,transform .3s ease-in-out,border-color .3s ease-in-out,-webkit-transform .3s ease-in-out;
  position: absolute;
  top: 0px;
  left: 0px;
}

.album_title {
  display: block;
  color: #444;
  font-variant: small-caps;
  font-weight: bold;
  padding-top: 5px;
}

.album_date {
    font-weight: normal;
    font-style: italic;
    font-size: 0.8em;
}

.album_animation {
    position: relative;
}

.album_animation:hover img:nth-child(1) {
    -webkit-transform:rotate(-2deg) translateY(10px) translateX(-12px);
    -ms-transform:rotate(-2deg) translateY(10px) translateX(-12px);
    transform:rotate(-2deg) translateY(10px) translateX(-12px)
}

.album_animation:hover img:nth-child(2) {
    -webkit-transform:rotate(5deg) translateY(-8px) translateX(12px);
    -ms-transform:rotate(5deg) translateY(-8px) translateX(12px);
    transform:rotate(5deg) translateY(-8px) translateX(12px)
}
    
.icons {
  top: 10px;
  right: 20px;
  padding: 5px;
  z-index: 2;
  position: absolute;
  text-align: right;
}
.icons a {
  cursor: pointer;
}
.icons img {
  opacity: .7;
}
.icons img:hover {
  opacity: .9;
}

/* footer */
footer {
  clear: both;
  display: block;
  margin: 1em 0;
  text-align: center;
}
footer a:link, footer a:visited {
  font-weight: bold;
  text-decoration: none;
}
footer a:hover {
  border-bottom: 1px solid;
  text-decoration: none;
}

@media only screen and (min-width: 980px) {
  #gallery {
    margin: 0 0 40px -10px;
  }

  header h1, #menu {
    display: inline-block;
    width: 49.5%;
  }
  #menu {
    text-align: right;
  }
}

.image {
    margin: 10px 10px 0px 0px;
    cursor: pointer;
}
