{% set w, h = settings.thumb_size.0/1.5, settings.thumb_size.1/1.5 %}
<div id="main" role="main">
  {% if album.description %}
  <div id="description">{{ album.description }}</div>
  {% endif %}

  <div id="gallery">
    {% set i=[] %}
    {% for media in album.medias %}
      {% if media.type == "image" %}
          <img src="{{ media.thumbnail }}" alt="{{ media.filename }}"
              data-title="{{ media.title if media.title else media.filename }}"
              {% if media.big %} data-big="{{ media.big }}"{% endif %} class="image" style="width: {{ w }}px; height: {{ h }}px" onclick="open_pw({{ i | length }})" />
          {% set _=i.append(1) %}
      {% else %}
         <a href="{{ media.filename }}">
          <img src="{{ media.thumbnail }}" alt="{{ media.filename }}"
              data-title="{{ media.title if media.title else media.filename }}"
              {% if media.big %} data-big="{{ media.big }}"{% endif %} class="image" style="width: {{ w }}px; height: {{ h }}px" />
          </a>
      {% endif %}
    {% endfor %}
  </div>

  {% if album.zip %}
  <div id="additionnal-infos" class="row">
    <p>
      <a href="{{ album.zip }}"
         title="Download a zip archive with all images">Download ZIP</a>
    </p>
  </div>
  {% endif %}

{% macro img_description(media) %}
{%- if media.big %}<div style="margin-right: 20px;"><a style="color: #fff" href='{{ media.big }}'>Full size</a></div>{% endif %}
{%- if media.description %}<p>{{ media.description }}</p>{% endif %}
{%- if media.exif %}
<div style="display: inline-block">
  {% if media.exif.datetime %}
    Date: {{ media.exif.datetime }}<br/>
  {% endif %}
  <span style="font-size: 10px">
  {% if media.exif.iso %}ISO: {{ media.exif.iso }}, {% endif %}
  {% if media.exif.focal %}Focal: {{ media.exif.focal }}, {% endif %}
  {% if media.exif.exposure %}Exposure: {{ media.exif.exposure }}, {% endif %}
  {% if media.exif.fstop %}Fstop: {{ media.exif.fstop }}{% endif %}
  {% if media.exif.gps %}
    <br/>Location: <a href='https://www.openstreetmap.org/?mlat={{
    media.exif.gps.lat }}&amp;mlon={{ media.exif.gps.lon}}&amp;zoom=12&amp;layers=M' target='_blank' class='map'
    >{{ 'N{:.6f}'.format(media.exif.gps.lat) if media.exif.gps.lat > 0 else 'S{:.6f}'.format(-media.exif.gps.lat) }}
     {{ 'E{:.6f}'.format(media.exif.gps.lon) if media.exif.gps.lon > 0 else 'W{:.6f}'.format(-media.exif.gps.lon) }}</a>
  {% endif %}
  </span>
</div>
{% endif %}
{%- endmacro %}

{% include 'photoswipe.html' %}
<script src="{{ theme.url }}/photoswipe/photoswipe.min.js"></script>
<script src="{{ theme.url }}/photoswipe/photoswipe-ui-default.min.js"></script>
<script>
    function open_pw(idx) {
        var pswpElement = document.querySelectorAll('.pswp')[0];
        var items = [
          {% for media in album.medias %}
            {% if media.type == "image" %}
            { msrc: '{{ media.thumbnail }}',
              src: '{{ media.url }}',
              w: '{{ media.size['width'] }}',
              h: '{{ media.size['height'] }}',
              title: `{{ img_description(media) }}`
            }{% if not loop.last %},{% endif %}
            {% endif %}
         {% endfor %}
         ];

        var options = {
            index: idx,
            bgOpacity: 0.9,
            closeOnScroll: false,
            shareEl: false,
        };

        var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
        gallery.init();
    }

    //  Parse URL and open gallery if it contains #&pid=3&gid=1
    var hash = window.location.hash.substring(1),
    params = {};
    var vars = hash.split('&');
    for (var i = 0; i < vars.length; i++) {
        if(!vars[i]) {
            continue;
        }
        var pair = vars[i].split('=');  
        if(pair.length < 2) {
            continue;
        }           
        params[pair[0]] = pair[1];
    }
    if(params.pid) {
        open_pw( params.pid );
    }
</script>
