{% set w, h = settings.thumb_size.0/1.5, settings.thumb_size.1/1.5 %}
<div id="main" role="main">
  {% if album.description %}
  <div id="description">{{ album.description }}</div>
  {% endif %}

  <div id="gallery" class="pswp-gallery">
    {% for media in album.medias %}
      <a href="{{ media.big if media.big else media.url }}" 
       data-pswp-src="{{ media.url }}" data-pswp-width="{{ media.size.width }}" data-pswp-height="{{ media.size.height }}"
       {% if media.big %} data-big="{{ media.big }}"{% endif %}
       data-pswp-type="{{ 'pano' if media.xmp | is_pano else 'image' }}"
       data-cropped="true"
       target="_blank">
         <img src="{{ media.thumbnail }}" alt="{{ media.filename }}"
           data-title="{{ media.title if media.title else media.filename }}"
           class="image" style="width: {{ w }}px; height: {{ h }}px; object-fit:cover" />
         {% if not media.xmp | is_pano %}
         <span class="pswp-caption-content">
            {%- if media.description %}<p>{{ media.description }}</p>{% endif %}
            {%- if media.exif %}
            <div style="display: inline-block">
              {% if media.exif.datetime %}
                Date: {{ media.exif.datetime }}<br/>
              {% endif %}
              <span style="font-size: 12px">
              {% if media.exif.Model %}Model: {{ media.exif.Model }}, {% endif %}
              {% if media.exif.iso %}ISO: {{ media.exif.iso }}, {% endif %}
              {% if media.exif.focal %}Focal: {{ media.exif.focal }}, {% endif %}
              {% if media.exif.exposure %}Exposure: {{ media.exif.exposure }}, {% endif %}
              {% if media.exif.fstop %}Fstop: {{ media.exif.fstop }}{% endif %}
              {% if media.exif.gps %}
                <br/>Location: <a href='https://www.openstreetmap.org/?mlat={{
                media.exif.gps.lat }}&amp;mlon={{ media.exif.gps.lon}}&amp;zoom=12&amp;layers=M' target='_blank' class='map'
                >{{ 'N{:.6f}'.format(media.exif.gps.lat) if media.exif.gps.lat > 0 else 'S{:.6f}'.format(-media.exif.gps.lat) }}
                 {{ 'E{:.6f}'.format(media.exif.gps.lon) if media.exif.gps.lon > 0 else 'W{:.6f}'.format(-media.exif.gps.lon) }}</a>
              {% endif %}
              </span>
            </div>
            {% endif %}
        </span>
        {% endif %}
      </a>
    {% endfor %}
  </div>

  {% if album.zip %}
  <div id="additionnal-infos" class="row">
    <p>
      <a href="{{ album.zip }}"
         title="Download a zip archive with all images">Download ZIP</a>
    </p>
  </div>
  {% endif %}
</div>

<script src="{{ theme.url }}/photo-sphere-viewer/three.min.js"></script>
<script src="{{ theme.url }}/photo-sphere-viewer/browser.js"></script>
<script src="{{ theme.url }}/photo-sphere-viewer/photo-sphere-viewer.min.js"></script>
<script type="module">
    import PhotoSwipeLightbox from './{{ theme.url }}/photoswipe/photoswipe-lightbox.esm.min.js';
    import PhotoSwipeDynamicCaption from './{{ theme.url }}/photoswipe/photoswipe-dynamic-caption-plugin.esm.js';
    
    const lightbox = new PhotoSwipeLightbox({
      // may select multiple "galleries"
      gallery: '#gallery',
      // Elements within gallery (slides)
      children: 'a',
      // setup PhotoSwipe Core dynamic import
      pswpModule: () => import('./{{ theme.url }}/photoswipe/photoswipe.esm.min.js'),
      // Animation
      showAnimationDuration: 500,
      hideAnimationDuration: 500,
    });

    /* Nice animation */
    const backEasing = {
      in: 'cubic-bezier(0.6, -0.28, 0.7, 1)',
      out: 'cubic-bezier(0.3, 0, 0.32, 1.275)',
      inOut: 'cubic-bezier(0.68, -0.55, 0.265, 1.55)'
    };
    lightbox.on('firstUpdate', () => {
      lightbox.pswp.options.easing = backEasing.out;
    });
    lightbox.on('initialZoomInEnd', () => {
      lightbox.pswp.options.easing = backEasing.inOut;
    });
    lightbox.on('close', () => {
      lightbox.pswp.options.easing = backEasing.in;
    });

    /* Caption */
    const captionPlugin = new PhotoSwipeDynamicCaption(lightbox, {
        type: 'auto',
    });
    
    /* Download button */
    lightbox.on('uiRegister', function() {
      lightbox.pswp.ui.registerElement({
        name: 'download-button',
        order: 8,
        isButton: true,
        tagName: 'a',
    
        // SVG with outline
        html: {
          isCustomSVG: true,
          inner: '<path d="M20.5 14.3 17.1 18V10h-2.2v7.9l-3.4-3.6L10 16l6 6.1 6-6.1ZM23 23H9v2h14Z" id="pswp__icn-download"/>',
          outlineID: 'pswp__icn-download'
        },
    
        onInit: (el, pswp) => {
          el.setAttribute('target', '_blank');
          el.setAttribute('rel', 'noopener');
    
          pswp.on('change', () => {
            el.href = pswp.currSlide.data.element.href;
          });
        }
      });
    });

    /* Pano */
    lightbox.on('contentLoad', (e) => {
        const { content } = e;
        if (content.type === 'pano') {
          e.preventDefault();
          content.element = document.createElement('div');
          const viewer = document.createElement('div');
          viewer.className = "photosphere-viewer"
          content.element.appendChild(viewer);
          content.psviewer = new PhotoSphereViewer.Viewer({container: viewer, panorama: content.data.element.href, size: {width: 1920, height: 1080}});
       }
    });

    lightbox.on('contentAppend', (e) => {
        const { content } = e;
        if (content.type === 'pano') {
            window.dispatchEvent(new Event('resize'));
        }
    });

    lightbox.on('pointerDown', (e) => {
        if (lightbox.pswp.currSlide.content.psviewer) {
            e.preventDefault();
        }
    });

    /* Start */
    lightbox.init();
</script>
