<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ album.title|striptags }}</title>
    <meta name="description" content="">
    <meta name="author" content="{{ album.author }}">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ theme.url }}/css/style.css">
    <link rel="stylesheet" href="{{ theme.url }}/photoswipe/photoswipe.css">
    <link rel="stylesheet" href="{{ theme.url }}/photoswipe/default-skin/default-skin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Molengo">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"> 
    <style>
      body, h1, h2, h3, h4, h5, h6 { font-family: "PT Sans", sans-serif; }
    </style>
  </head>
  <body>
    <div class="container">
      <header>
        <h1><a href="{{ album.index_url }}">{{ index_title }}</a></h1>

        {% if settings.links %}
        <nav id="menu">
          <ul>
            {% for title, link in settings.links %}
            <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        {% endif %}

        {% if album.breadcrumb %}
        <h2>
          {%- for url, title in album.breadcrumb -%}
          <a href="{{ url }}">{{ title }}</a>
          {%- if not loop.last %} » {% endif -%}
          {% endfor -%}
        </h2>
        <hr>
        {% endif %}
      </header>

      {% set w, h = settings.thumb_size.0, settings.thumb_size.1 %}
      {% if album.medias %}
        {% set w, h = w/1.5, h/1.5 %}
      {% endif %}

      <div id="main" role="main">
        {% if album.albums %}
        <div id="albums">
          <!-- <h1>Albums</h1> -->
          <ul>
            {% for alb in album.albums %}
            {% if not 'hide' in alb.meta %}
            <li style="width: {{ w }}px"><a href="{{ alb.url }}">
              <div class="album_animation" style="width: {{ w }}px; height: {{ h }}px">
                <img src="{{ alb.random_thumbnail }}" class="album_thumb" alt="{{ alb.name }}" title="{{ alb.name }}" style="width: {{ w }}px; height: {{ h }}px"/>
                <img src="{{ alb.random_thumbnail }}" class="album_thumb" alt="{{ alb.name }}" title="{{ alb.name }}" style="width: {{ w }}px; height: {{ h }}px"/>
                {% if 'thumbnail' in alb.meta %}
                    <img src="{{ alb.thumbnail }}" class="album_thumb" alt="{{ alb.name }}" title="{{ alb.name }}" style="width: {{ w }}px; height: {{ h }}px"/>
                {% else %}
                    <img src="{{ alb.random_thumbnail }}" class="album_thumb" alt="{{ alb.name }}" title="{{ alb.name }}" style="width: {{ w }}px; height: {{ h }}px"/>
                {% endif %}
              </div></a>
              <div class="album_title">{{ alb.title }}{% if 'date' in alb.meta %}<br/><span class="album_date">{{ alb.meta.date.0|date_reformat('%d %B %Y') }}{% endif %}</span></div>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if album.description %}
        <div id="description">
          {{ album.description }}
        </div>
        {% endif %}

        {% if album.medias %}
        <div id="gallery">
          {% set i=0 %}
          {% for media in album.medias %}
            {% if media.type == "image" %}
                <img src="{{ media.thumbnail }}" alt="{{ media.filename }}"
                    data-title="{{ media.title if media.title else media.filename }}"
                    {% if media.big %} data-big="{{ media.big }}"{% endif %} class="image" style="width: {{ w }}px; height: {{ h }}px" onclick="open_pw({{ i }})" />
                {% set i=i+1 %}
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}

        {% if album.zip %}
        <div id="additionnal-infos" class="row">
          <p>
            <a href="{{ album.zip }}"
               title="Download a zip archive with all images">Download ZIP</a>
          </p>
        </div>
        {% endif %}

      </div>

      <footer>
        <p>{% if album.author %}&copy; {{ album.author }} - {% endif %}
          Generated by <a href="{{ sigal_link }}">sigal</a></p>
      </footer>
    </div>

{# Photoswipe #}
{% macro img_description(media) -%}
{%- if media.big %}<div style="margin-right: 20px;"><a style="color: #fff" href='{{ media.big }}'>Full size</a></div>{% endif %}
{% if media.description %}<p>{{ media.description }}</p>{% endif %}

{%- if media.exif %}
<div style="display: inline-block">
  {% if media.exif.datetime %}
    Date: {{ media.exif.datetime }}<br/>
  {% endif %}
  <span style="font-size: 10px">
  {% if media.exif.iso %}ISO: {{ media.exif.iso }}, {% endif %}
  {% if media.exif.focal %}Focal: {{ media.exif.focal }}, {% endif %}
  {% if media.exif.exposure %}Exposure: {{ media.exif.exposure }}, {% endif %}
  {% if media.exif.fstop %}Fstop: {{ media.exif.fstop }}{% endif %}
  {% if media.exif.gps %}
    <br/>Location: <a href='https://www.openstreetmap.org/?mlat={{
    media.exif.gps.lat }}&amp;mlon={{ media.exif.gps.lon}}&amp;zoom=12&amp;layers=M' target='_blank' class='map'
    >{{ 'N{:.6f}'.format(media.exif.gps.lat) if media.exif.gps.lat > 0 else 'S{:.6f}'.format(-media.exif.gps.lat) }}
     {{ 'E{:.6f}'.format(media.exif.gps.lon) if media.exif.gps.lon > 0 else 'W{:.6f}'.format(-media.exif.gps.lon) }}</a>
  {% endif %}
  </span>
</div>
{% endif %}
{%- endmacro %}
{% if album.medias %}
    {% include 'photoswipe.html' %}
    <script src="{{ theme.url }}/photoswipe/photoswipe.min.js"></script>
    <script src="{{ theme.url }}/photoswipe/photoswipe-ui-default.min.js"></script>
    <script>
        function open_pw(idx) {
            var pswpElement = document.querySelectorAll('.pswp')[0];
            var items = [
              {% for media in album.medias %}
                {% if media.type == "image" %}
                { msrc: '{{ media.thumbnail }}',
                  src: '{{ media.filename }}',
                  w: '{{ media.size['width'] }}',
                  h: '{{ media.size['height'] }}',
                  title: `{{ img_description(media) }}`
                }{% if not loop.last %},{% endif %}
                {% endif %}
             {% endfor %}
             ];

            var options = {
                index: idx,
                bgOpacity: 0.9,
                closeOnScroll: false,
                shareEl: false,
            };

            var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.init();
        }

    </script>
{% endif %}

  </body>
</html>
